body {
    background-color:whitesmoke;
    color:#282828;
    font-family: helvetica, ariel, sans-serif;
    max-width: 850px;
    margin: auto;    
}

#example i {
    color:crimson;
}

h4, h3, h2, header {
    font-family: garamond, paltino, serif;
}

ul {
    padding-left: 3em;
}

img {
    margin-bottom: 2em;
}

nav {
    float: left;
    padding-top: 4.75em;
    padding-left: 1.35em;
    font-size: .90em;
    margin-bottom: 2em;
}

nav li{
    list-style: none;
    padding: .25em 0 .25em .5em;
}

nav a:link {
    text-decoration: none;
    color: #686868;
}

nav a:visited {
    text-decoration: none;
    color: #686868;
}

nav a:hover {
    text-decoration: none;
    color: blue;
}

nav a:active {
    color: blue;
    
}

main {
    float: right;
    width: 620px;
    min-height: 600px;
    margin-bottom: 3em;
    
    
}

main h3 {
    padding: 1em 0;
    font-size: 1.5em;
}

main h4 {
    font-family: helvetica, ariel, sans-serif;
    font-size: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#example {
    margin-bottom: 2em;
    
}

#example li {
    line-height: 2em;
    list-style: none;
    padding-bottom: 1em;
    
}

#example i {
    margin-left: 200px;;
    height: 300px;
    padding-top: .25em;
}

main code {
    font-family: monospace;
    line-height: 2em;
    font-size: 1.25em;
    line-height: 2em;
    font-size: 1.25em;
    color: crimson;
    
}

main p {
    line-height: 1.75em;
    padding-top:0em;
    padding-bottom: 1.5em;
}

#citations {
    font-size: .75em;
}

#citations li{
    padding: .75em;
}
footer li {
    list-style: none;
    font-size: .90em;
}

header {
    background-color:#181818;
    color: #f5f5f5;
}

header h1 {
    color: crimson;
    padding: .75em 1em .75em 1em;
    font-size: 2em;
    font-weight:bolder;
}

header h2 {
    background-color: #686868;
   	padding: .25em 1em .25em 1.25em;
    font-size: 1.5em; 
	
}

footer {
    padding: .75em 1em 1.5em 1.75em;
    clear: both;
   background-color:#181818;
    color: #f5f5f5; 
}

footer ul {
    padding-top: .75em;
}
footer li{
    list-style: none;
    padding: .15em .75em;
}

footer a:link {
    text-decoration: none;
    color: #686868;
}

footer a:visited {
    text-decoration: none;
    color: #686868;
}

footer a:hover {
    text-decoration: none;
    color: whitesmoke;
}

footer a:active {
    color: whitesmoke;
    
}


#calandar{
  position: relative;
  height: 500;
  width: 620;
  padding-bottom: .5em;
  padding-top: .5em;
}
#calandar iframe{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#calandarPageDescription {
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #181818;
  color: white;
}

#calandarPageDescription p{
  line-height: 1.2;
  font-size: 12.5px;
}

#calandarPageDescription h1{
  text-align: center; 
  padding-top: .8em;
}
#calandarTips {
  background-color: #181818;
  color: white;

}

#calandarTips #calandarPointer{
  text-align: center; 
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #686868;
  

}
#calandarTips #calandarInstructions{ 
  padding-top: .5em;
  background-color: #181818;
  color: white;
  line-height: 1.2;
  font-size: 17px;

}

table {  
   width: 90%;
   margin: 0 auto;
}
table tbody td{
   vertical-align: top;
}

legend {
   background-color: #616161 ;
    color: white;
   margin: 0 auto;
   width: 90%;
   padding: 0.25em;
   text-align: center;
   font-weight: bold;
   font-size: 24px;
}
fieldset {
   margin: 1em auto;
   background-color: #F5F5F5;
   width: 70%;
}
form p {
   margin-top: 0.5em;
}
form input[type="text"], form select {
    font-size: 16px;
    height: 24px;
    padding: 3px;
}
form select {
    height: 30px;
}
#firstname, #lastname { width: 100% }
#pr, #description { width: 100% }





.rectangle {
   background-color: #BDBDBD;
   padding: 0.5em;
    margin-bottom: 5px;
}
.centered {
   text-align: center;
}
.highlight {
    background-color: #FFE0B2;
}    



.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  height: 32px;
  color: black;
  font-size: 14px;
  background: #FF9100;
  padding: 5px 20px 5px 20px;
  
}

.btn:hover {
  background: #FFAB40;
  text-decoration: none;
}



